# Classify Customer churn of Bank using Supoort Vector Machine (SVM)

# Author- Rohan Kulkarni

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('E:/Imarticus/8.SVM/svmfile.csv')

In [3]:
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le=LabelEncoder()

In [6]:
df.job=le.fit_transform(df.job)
df.marital=le.fit_transform(df.marital)

In [7]:
df.education.value_counts()

university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: education, dtype: int64

In [8]:
df.default= df.default.replace({'no':0,'yes':2,'unknown':1})
df.housing= df.housing.replace({'no':0,'yes':2,'unknown':1})
df.loan= df.loan.replace({'no':0,'yes':2,'unknown':1})
df.month= df.month.replace({'may':5,'jul':7,'aug':8,'jun':6,'nov':11,'apr':4,'oct':10,'sep':9,'mar':3,'dec':12})
df.day_of_week= df.day_of_week.replace({'thu':4,'mon':1,'wed':3,'tue':2,'fri':5})

In [9]:
df.education = df.education.replace({"unknown": 0, "illiterate": 0, "basic.4y":1,"basic.6y":2, "basic.9y":3, "high.school":4,"professional.course":5,"university.degree":6})

In [10]:
df.contact=le.fit_transform(df.contact)

In [11]:
df.poutcome=df.poutcome.replace({'nonexistent':0,'failure':1,'success':2})

In [12]:
df.y= df.y.replace({'no':0,'yes':1})

In [13]:
df.info() # now everything is in numeric

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  int32
 2   marital         41188 non-null  int32
 3   education       41188 non-null  int64
 4   default         41188 non-null  int64
 5   housing         41188 non-null  int64
 6   loan            41188 non-null  int64
 7   contact         41188 non-null  int32
 8   month           41188 non-null  int64
 9   day_of_week     41188 non-null  int64
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  int64
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  int64
dtypes: float64(5), int32(3), int64(13)
memory usage: 6.1 MB

## SVM

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
df_train,df_test=train_test_split(df,test_size=.2)

In [16]:
df1=df_train[df_train.y==1]# oversampling
df_train=pd.concat([df_train,df1,df1,df1,df1])

df_train_x=df_train.iloc[:,0:-1]
df_train_y=df_train.iloc[:,-1]

df_test_x=df_test.iloc[:,0:-1]
df_test_y=df_test.iloc[:,-1]

In [17]:

df1.shape

(3704, 21)

In [18]:
df1.y.value_counts()

1    3704
Name: y, dtype: int64

In [19]:
from sklearn.svm import SVC

In [20]:
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV

In [21]:
#search_dict={"kernel":('linear', 'poly', 'rbf', 'sigmoid')}
svc=SVC(kernel='linear')
#grid_svc = GridSearchCV(svc_cr , param_grid =search_dict )

In [22]:
svc.fit(df_train_x , df_train_y)

SVC(kernel='linear')

In [24]:
#grid.best_params_

In [25]:
pred_svc=svc.predict(df_test_x)

In [26]:
confusion_matrix(pred_svc,df_test_y)

array([[6805,  334],
       [ 497,  602]], dtype=int64)

1. without oversampling


    [[7136,  654]
    [ 140,  308]]
    
 2. with oversampling
     
     [6567,  277]
     
      [ 744,  650]]

In [31]:
from sklearn.metrics import accuracy_score,f1_score,precision_score

In [33]:
accuracy_score(df_test_y,pred_svc)

0.8991260014566642

In [34]:
f1_score(df_test_y,pred_svc)

0.5916461916461916

In [35]:
precision_score(df_test_y,pred_svc)

0.5477707006369427