# Mobile Price range detection using Decision Tree Classifier

# Author- Rohan Kulkarni

In [1]:
import pandas as pd

In [2]:
mp=pd.read_csv('E:/Imarticus/7.DECISION TREE/trainRF.csv')

In [3]:
mp

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [4]:
mp.isnull().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [5]:
mp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [6]:
from sklearn.model_selection import train_test_split

In [37]:
df_train, df_test=train_test_split(mp,test_size=.2,random_state=100)

In [8]:
df_train_x=df_train.iloc[:,0:-1]
df_train_y=df_train.iloc[:,-1]

In [9]:
df_test_x=df_test.iloc[:,0:-1]
df_test_y=df_test.iloc[:,-1]

In [10]:
from sklearn.tree import DecisionTreeClassifier

In [30]:
dt=DecisionTreeClassifier(criterion='gini',class_weight='balanced',max_depth=5,min_samples_split=150)

In [31]:
dt.fit(df_train_x,df_train_y)

DecisionTreeClassifier(class_weight='balanced', max_depth=5,
                       min_samples_split=150)

In [32]:
pred_dt=dt.predict(df_test_x)

In [33]:
from sklearn.metrics import confusion_matrix

In [34]:
confusion_matrix(pred_dt,df_test_y)

array([[90, 12,  0,  0],
       [10, 63,  7,  0],
       [ 0, 24, 70, 12],
       [ 0,  0, 19, 93]], dtype=int64)

1. only with class_weight

       [[88,  8,  0,  0],
       [12, 73, 15,  0],
       [ 0, 18, 68, 16],
       [ 0,  0, 13, 89]]

2. with class_weight & depth=5
       [92, 10,  0,  0],
       [ 8, 77, 20,  0],
       [ 0, 12, 67, 14],
       [ 0,  0,  9, 91]]

3. with class_weight, depth=5,min_samples_split=150
    
       [90, 12,  0,  0],
       [10, 63,  7,  0],
       [ 0, 24, 70, 12],
       [ 0,  0, 19, 93]]

In [35]:
dt.feature_importances_

array([0.0729938 , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.04333999, 0.        , 0.88366621, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ])

In [41]:
feature_imp=pd.DataFrame({'importance':dt.feature_importances_,'columns':df_train_x.columns})
feature_imp.sort_values('importance',ascending=False)

    importance        columns
13    0.883666            ram
0     0.072994  battery_power
11    0.043340      px_height
1     0.000000           blue
18    0.000000   touch_screen
17    0.000000        three_g
16    0.000000      talk_time
15    0.000000           sc_w
14    0.000000           sc_h
12    0.000000       px_width
10    0.000000             pc
9     0.000000        n_cores
8     0.000000      mobile_wt
7     0.000000          m_dep
6     0.000000     int_memory
5     0.000000         four_g
4     0.000000             fc
3     0.000000       dual_sim
2     0.000000    clock_speed
19    0.000000           wifi

In [56]:
from sklearn.metrics import accuracy_score

In [57]:
accuracy_score(df_test_y,pred_dt)

0.795

###  model 2

In [42]:
dt1=DecisionTreeClassifier(criterion='gini',class_weight='balanced')

In [43]:
dt1.fit(df_train_x,df_train_y)

DecisionTreeClassifier(class_weight='balanced')

In [52]:
pred_dt1=dt1.predict(df_test_x)

In [58]:
confusion_matrix(pred_dt1,df_test_y)

array([[89,  8,  0,  0],
       [11, 74, 15,  0],
       [ 0, 17, 68, 18],
       [ 0,  0, 13, 87]], dtype=int64)

In [59]:
from sklearn.metrics import accuracy_score

In [60]:
accuracy_score(df_test_y,pred_dt1)

0.795

In [51]:
feature_imp=pd.DataFrame({'importance':dt1.feature_importances_,'columns':df_train_x.columns})
feature_imp.sort_values('importance',ascending=False)

    importance        columns
13    0.647083            ram
0     0.097461  battery_power
11    0.097083      px_height
12    0.084771       px_width
2     0.013817    clock_speed
8     0.011685      mobile_wt
6     0.007101     int_memory
15    0.006153           sc_w
16    0.005536      talk_time
14    0.005201           sc_h
4     0.004763             fc
10    0.003915             pc
17    0.003803        three_g
5     0.002623         four_g
9     0.002618        n_cores
3     0.002165       dual_sim
7     0.002010          m_dep
1     0.001110           blue
19    0.001103           wifi
18    0.000000   touch_screen